<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <a href="/"><button class="return-btn">Go Back</button></a>
    <h1 class="send-message-header">Send a Message:</h1>
    <form class="send-message-form" method="POST" action="/new">
      <label for="name">Name:</label>
      <input type="text" name="user" id="name" required />

      <label for="message">Message:</label>
      <input type="text" name="message" id="message" required />

      <!-- <button id="submit-btn">Send</button> -->
      <input type="submit" id="submit-btn" >
    </form>
  </body>
</html>
