body {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 98vw;
  overflow: none;
  font: 1em "Lucida Grande", Helvetica, Arial, sans-serif;
}

.main-header,
.send-message-header {
  font-size: 2.5em;
}

.add-message-btn {
  font-size: 1em;
  background-color: rgb(47, 40, 59);
  color: white;
  min-height: 3vh;
  min-width: 15vw;
  border-radius: 10px;
}

.add-message-btn:hover {
  cursor: pointer;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.7);
  transform: translateY(-3px);
}

.message-list {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  border-radius: 1rem;
  height: 65vh;
  width: 70vw;
  padding: 2rem;
  overflow-y: auto;
}

.message-container {
  display: flex;
  flex-flow: column nowrap;
  height: auto;
  border-left: 3px coral solid;
  margin-bottom: 0.8rem;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.7);
  border-radius: 1rem;
}

.user-heading-text {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-flow: row nowrap;
  gap: 1rem;
}

.message-user,
.message-text {
  padding-left: 1rem;
}

.message-timestamp {
  font-size: 0.8rem;
}

.return-btn {
  font-size: 1rem;
  background-color: rgb(47, 40, 59);
  color: white;
  min-height: 3vh;
  min-width: 5vw;
  border-radius: 10px;
  margin-top: 2rem;
}

.return-btn:hover {
  cursor: pointer;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.7);
  transform: translateY(-3px);
}

.send-message-form {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  width: 70vw;
  height: auto;
  gap: 1rem;
}

label {
  font-size: 1.3rem;
  width: 50vw;
}

input {
  font-size: 1.3rem;
  min-height: 2rem;
  width: 50vw;
}

#submit-btn {
  font-size: 1.2rem;
  background-color: rgb(47, 40, 59);
  color: white;
  margin-top: 1rem;
  min-height: 3vh;
  max-width: 10vw;
  border-radius: 10px;
}

#submit-btn:hover {
  cursor: pointer;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.7);
  transform: translateY(-3px);
}